.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid #244624;
    border-radius: 15px;
}
button{
    font-size: 40px;
    background: #ab5f46;
    width: 111px;
    height: 58px;
    border-radius: 9px;
}
.calculator{
    display: inline-block;
    background-color: #919cd6;
    padding: 7px;
    border-radius: 15px;
}